<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="header">
    <header class="bg-dark text-white p-3 mb-4">
        <div class="container d-flex justify-content-between">
            <h4>🛍 OneShop</h4>
            <nav>
                <a href="/" class="text-white me-3">Trang chủ</a>
                <a href="/login" class="text-white me-3">Đăng nhập</a>
                <a href="/register" class="text-white">Đăng ký</a>
            </nav>
        </div>
    </header>
</div>
</body>
</html>
